/* this is just to show how you make comments in css */
body {background-color: #d6bc9a;}

h1{color: #8a2be2;}

p{color: #411f61;}



#boldSpan{font-weight: bold;}
/*has multiple fonts as fallback incase user doesnt have the first one*/
.specialParagraph{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.bigBox{
    background-color: #5a4141;
    display: flex;
}
.smallBox{
    background-color: #c4b0a2;
    margin: 10px;
    padding: 20px;
}